{% extends 'main.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-body">
            {% if event.image %}
              <img src="{{ event.image.url }}" class="img-fluid" alt="Event Image">
            {% endif %}
            <h1 class="card-title">{{ event.title }}</h1>
            <p class="card-text">{{ event.content }}</p>
            <p class="card-text">Published on: {{ event.published_date }}</p>
            <p class="card-text">Posted by: {{ event.posted_by }}</p>
            {% if event.document %}
              <a href="{{ event.document.url }}" class="btn btn-primary">View Document</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}